<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
    <form action="/user/create" method="post">
        <input type="text" name="name" placeholder="名前" />
        <input type="password" name="password"  placeholder="パスワード" />
        <input type="password" name="password_confirmation"  placeholder="パスワードの確認" />
        <input type="submit" value="新規登録" />
    </form>
</body>
</html>
