<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
 <%= @number %>
 <form action="/plus" method="post">
   <input type="submit" value="+" />
 </form>
 <form action="/one" method="post">
   <input type="submit" value="1" />
 </form>
 <form action="/two" method="post">
   <input type="submit" value="2" />
 </form>
</body>
</html>
